body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(83, 53, 7);
  color: #ccc;
  border-bottom: 15px solid rgb(22, 172, 37);
}

header h1 {
  font-size: 60px;
}

.card {
  width: 400px;
  margin: 25px;
}

.card-title {
  font-size: 20px;
}

.card-text {
  font-size: 15px;
}

footer {
  text-align: center;
  padding: 5px 0;
  background-color: rgb(83, 53, 7);
  color: #ccc;
  border-top: 10px solid rgb(22, 172, 37)
}

footer p {
  font-size: 18px;
  margin-top: 10px;
}